In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ostrovnoy,68.0531,39.5131,35.17,93,100,7.18,RU,2022-11-10 05:40:11
1,1,Saint-Georges,12.0564,-61.7485,80.28,89,40,11.50,GD,2022-11-10 05:40:11
2,2,Lebu,-37.6167,-73.6500,54.10,82,73,17.00,CL,2022-11-10 05:31:31
3,3,Cape Town,-33.9258,18.4232,64.11,65,0,7.00,ZA,2022-11-10 05:30:01
4,4,Verkhnyaya Inta,65.9811,60.3094,24.21,87,100,2.44,RU,2022-11-10 05:40:12

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Saint-Georges,12.0564,-61.7485,80.28,89,40,11.50,GD,2022-11-10 05:40:11
5,5,Karratha,-20.7377,116.8463,83.17,37,0,24.70,AU,2022-11-10 05:33:35
8,8,Tonj,7.2737,28.6822,80.08,51,98,3.11,SS,2022-11-10 05:31:12
21,21,Vaini,-21.2000,-175.2000,78.96,89,75,6.91,TO,2022-11-10 05:31:28
30,30,Quatre Cocos,-20.2078,57.7625,80.10,62,8,10.04,MU,2022-11-10 05:32:44
34,34,Saint-Pierre,-21.3393,55.4781,78.91,65,0,16.11,RE,2022-11-10 05:34:12
40,40,New Norfolk,-42.7826,147.0587,82.92,36,69,7.00,AU,2022-11-10 05:31:32
41,41,Bambous Virieux,-20.3428,57.7575,80.22,65,20,6.91,MU,2022-11-10 05:31:02
44,44,San Andres,12.5847,-81.7006,82.42,78,40,6.91,CO,2022-11-10 05:40:24
45,45,Hithadhoo,-0.6000,73.0833,81.88,71,81,12.37,MV,2022-11-10 05:31:23

In [12]:
preferred_cities_order= ['City_ID','City', 'Country', 'Date', 'Lat', 'Lng','Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed']

In [13]:
new_preferred_cities_order_df= city_data_df[preferred_cities_order]
new_preferred_cities_order_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ostrovnoy,RU,2022-11-10 05:40:11,68.0531,39.5131,35.17,93,100,7.18
1,1,Saint-Georges,GD,2022-11-10 05:40:11,12.0564,-61.7485,80.28,89,40,11.50
2,2,Lebu,CL,2022-11-10 05:31:31,-37.6167,-73.6500,54.10,82,73,17.00
3,3,Cape Town,ZA,2022-11-10 05:30:01,-33.9258,18.4232,64.11,65,0,7.00
4,4,Verkhnyaya Inta,RU,2022-11-10 05:40:12,65.9811,60.3094,24.21,87,100,2.44
5,5,Karratha,AU,2022-11-10 05:33:35,-20.7377,116.8463,83.17,37,0,24.70
6,6,Skjold,DK,2022-11-10 05:40:13,55.7971,9.9397,47.86,91,47,10.98
7,7,Provideniya,RU,2022-11-10 05:32:00,64.3833,-173.3000,23.58,85,98,2.24
8,8,Tonj,SS,2022-11-10 05:31:12,7.2737,28.6822,80.08,51,98,3.11
9,9,Aksaray,TR,2022-11-10 05:40:13,38.3726,34.0254,46.87,73,16,4.74

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1     Saint-Georges      GD     80.28  12.0564  -61.7485
5          Karratha      AU     83.17 -20.7377  116.8463
8              Tonj      SS     80.08   7.2737   28.6822
21            Vaini      TO     78.96 -21.2000 -175.2000
30     Quatre Cocos      MU     80.10 -20.2078   57.7625
34     Saint-Pierre      RE     78.91 -21.3393   55.4781
40      New Norfolk      AU     82.92 -42.7826  147.0587
41  Bambous Virieux      MU     80.22 -20.3428   57.7575
44       San Andres      CO     82.42  12.5847  -81.7006
45        Hithadhoo      MV     81.88  -0.6000   73.0833

In [24]:
params= {
    "radius" : 5000,
    "type" :"lodging",
    "key": gkey}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [16]:
# Inspect the new DataFrame
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Georges,GD,80.28,12.0564,-61.7485,Radisson Grenada Beach Resort
5,Karratha,AU,83.17,-20.7377,116.8463,ibis Styles Karratha
8,Tonj,SS,80.08,7.2737,28.6822,Lakan Hotel
21,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
30,Quatre Cocos,MU,80.10,-20.2078,57.7625,Sunrise Attitude Hotel
34,Saint-Pierre,RE,78.91,-21.3393,55.4781,Alize Plage
40,New Norfolk,AU,82.92,-42.7826,147.0587,The Shingles Riverside Cottages
41,Bambous Virieux,MU,80.22,-20.3428,57.7575,Casa Tia Villa
44,San Andres,CO,82.42,12.5847,-81.7006,Hotel Arena Blanca
45,Hithadhoo,MV,81.88,-0.6000,73.0833,Scoop Guest House

In [17]:
print(hotel_df.loc[hotel_df["Hotel Name"]=="",:])

          City Country  Max Temp      Lat       Lng Hotel Name
197     Beloha      MG     87.82 -25.1667   45.0500
310  Wattegama      LK     82.72   6.7989   81.4808
315       Poum      NC     76.95 -20.2333  164.0167
414    Qandala      SO     84.22  11.4720   49.8728

In [18]:
clean_hotel_df= hotel_df.loc[hotel_df["Hotel Name"]!="",:]
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Georges,GD,80.28,12.0564,-61.7485,Radisson Grenada Beach Resort
5,Karratha,AU,83.17,-20.7377,116.8463,ibis Styles Karratha
8,Tonj,SS,80.08,7.2737,28.6822,Lakan Hotel
21,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
30,Quatre Cocos,MU,80.10,-20.2078,57.7625,Sunrise Attitude Hotel
34,Saint-Pierre,RE,78.91,-21.3393,55.4781,Alize Plage
40,New Norfolk,AU,82.92,-42.7826,147.0587,The Shingles Riverside Cottages
41,Bambous Virieux,MU,80.22,-20.3428,57.7575,Casa Tia Villa
44,San Andres,CO,82.42,12.5847,-81.7006,Hotel Arena Blanca
45,Hithadhoo,MV,81.88,-0.6000,73.0833,Scoop Guest House

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create the output file CSV
output_data_file = "Vacation_Search/WeatherPy_Database.csv"
clean_hotel_df.to_csv(output_data_file, index_label= "City_ID")

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
Hotel Name   
   {Hotel Name}
    
City
{City}

Country
{Country}

Current Weather 
  {Max Temp} °F
  
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))